.task-list {
  padding: 20px;
  background-color: white;
  height: 80vh;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sort-filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sort-filter-section select,
.sort-filter-section input[type="date"] {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-list p {
  font-size: 16px;
}

.task-list-scrollable {
  max-height: 60vh;
  overflow-y: auto;
}
.clear-filter-button {
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #e76d89;
  transition: background-color 0.3s ease-in-out;
}

.clear-filter-button:hover {
  background-color: #83112b;
}
