.task {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #f2f2f2;
  transition: background-color 0.2s ease-in-out;
}
.task-name {
  font-weight: bold;
  font-size: 20px;
}
.completed-task-name {
  text-decoration: line-through;
}

.task:hover {
  background-color: #f2f2f2;
}

.completed-task p {
  text-decoration: line-through;
}
.completed-task {
  background-color: #eaf7ea;
}

.task-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.task-details {
  flex-grow: 0;
}

.editable-section {
  flex-direction: column;
  align-items: flex-start;
}

.editable-input,
.editable-textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editable-button {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
  transition: background-color 0.3s ease-in-out;
}

.editable-button.save-button {
  background-color: #6fc276;
}

.editable-button.cancel-button {
  background-color: #fdc96f;
}

.editable-button:hover {
  background-color: #1c92d2;
}

.edit-button {
  background-color: #fdc96f;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.edit-button:hover {
  background-color: #957c51;
}

.delete-button {
  margin-top: 5px;
  background-color: #bf616f;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.delete-button:hover {
  background-color: #964e59;
}
.editable-input[type="date"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.editable-select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.edit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.high-priority {
  color: #ff9b9b;
}

.medium-priority {
  color: #f5ca7b;
}

.low-priority {
  color: #6fc276;
}
.task-description,
.created-date,
.due-date {
  color: #6c757d;
}
