body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 20px;
  border-radius: 8px;
  height: 100vh;

  padding: 20px;
}

.task-list {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
.app {
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
}
.content {
  padding: 20px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #1c92d2, #f2fcfe);
}
